<ion-header>
  <ion-toolbar>
    <ion-title>
      Listado de Pacientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list >
  <ion-list class="list-group-item" *ngFor="let x of pacientes">
    <ion-item>
      <div>
          <ion-label>
            <h1 color="colorBlue">{{x.titulo}}</h1>
            <h3>{{x.obraSocial}} - {{x.dni}}</h3>
            <h4>{{x.dni}}</h4>
            <h4>{{x.sexo}}</h4>

          </ion-label>
          <ion-button class="btn btn-danger display-5  float-end mt-3" color="danger"(click)="eliminarPaciente(x.id!)">
            Eliminar
        </ion-button>
  
         <ion-button class="btn btn-info display-5 float-end mt-3" (click)="prepararModificar(x.id!,x.titulo,x.obraSocial,x.sexo,x.edad,x.dni)">
          Editar
         </ion-button>

      </div>
    </ion-item>
  </ion-list>
  <li *ngIf="pacientes.length===0" class="list-group-item text-center fw-bold">
    No hay Pacientes en espera
  </li>
</ion-list>
