<ion-header>
  <ion-toolbar>
    <ion-title>
      Listado de Pacientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">

<ion-list lines="full">
  <ion-item-sliding  *ngFor="let x of pacientes"lines="full" >
  <ion-list lines="full">
    <ion-item >
      <div>
        <ion-label >
            <h1 color="colorBlue"> {{x.titulo}} </h1>
            <h3>{{x.obraSocial}} - {{x.dni}}</h3>
            <h4>{{x.edad}}</h4>
            <h4>{{x.sexo}}</h4>
          </ion-label>
      </div>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="eliminarPaciente(x.id!)" expandable> Delete </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option (click)="prepararModificar(x.id!,x.titulo,x.obraSocial,x.sexo,x.edad,x.dni)">Modificar</ion-item-option>
    </ion-item-options>
  </ion-list>
</ion-item-sliding>
  <li *ngIf="pacientes.length===0" class="list-group-item text-center fw-bold">
    No hay Pacientes en espera
  </li>
</ion-list>
