<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>Centro de Salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" class="texto">
        <ion-tab-button tab="tab2">
        <p>LISTADO PACIENTES EN ESPERA</p>
      </ion-tab-button>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" class="texto2">
        <ion-tab-button tab="tab4-alta">
          <div >REGISTRO PACIENTES</div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" class="texto3">
        <ion-tab-button tab="tab5-modificar">
          <div >MODIFICAR PACIENTES</div>
        </ion-tab-button>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" class="texto4">
        <ion-tab-button tab="tab2">
          <div >ELIMINAR PACIENTES</div>
        </ion-tab-button>
      </ion-col>
    </ion-row>

  </ion-grid>
 <ion-row>
  <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
    <ion-tab-button tab="modal">
    <p>Soy un modal</p>
  </ion-tab-button>
</ion-col>
 </ion-row> 
 <ion-row>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <ion-tab-button tab="tab6-paciente">
        <p>LISTADO PACIENTES REGISTRADOS</p>
      </ion-tab-button>

    </ion-col>
  </ion-row>

  
</ion-content>
